body{
    margin:0px;
    font-family: Roboto,Arial;
    box-sizing: border-box;
    color:#212121;
}
main{
    margin-top:140px;
    margin-bottom:100px;
    padding:0px 30px;
    box-sizing: border-box;
    width:100%;
    max-width: 1160px;
    align-self:center;
    justify-self: center;
}
@media(max-width:1070px){
    main{
        width:100%;
        max-width: 560px;
        box-sizing: border-box;
        padding:0px 30px;
        margin: 140px 16.5px 100px 16.5px;
        align-self:center;
        justify-self: center;

    }
}